<div class="container">
    <h2 class="workTitle">Work Experience</h2>
    <div class="card info-card">
        <div class="card-header"><h4 style="font-weight: 700;">nWorks Technology
                Pvt. Ltd.</h4></div><br>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <h5 style="font-weight: 600;">Technology Expert (Jan 2019 -
                        Present)</h5>
                    <p class="paraText">2+ years of Information Technology
                        experience in Web Development.</p>
                    <p class="paraText">Currently working as Technology Expert
                        with nWorks Technology Pvt. Ltd.</p>
                    <p class="paraText">Working on different technologies such
                        as AngularJS, Angular, Joomla.</p>
                    <p class="paraText">Proficient in HTML, CSS, Bootstrap,
                        Responsive Design.</p>

                </div>
                <div class="col-sm-6">
                    <h5 class="paraText" style="font-weight: 600;">Core
                        Functionality</h5>
                    <ul>
                        <li style="list-style-type: square; margin-left: 5px;">
                            Web Application Development </li>
                    </ul>
                    <h5 class="paraText" style="font-weight: 600;">Technologies
                        & Language</h5>
                    <div class="row">
                        <div><ul>
                                <li style="list-style-type: square; margin-left:
                                    5px;"> AngularJS </li>
                                <li style="list-style-type: square; margin-left:
                                    5px;"> Angular </li>
                                <li style="list-style-type: square; margin-left:
                                    5px;"> HTML </li>
                                <li style="list-style-type: square; margin-left:
                                    5px;"> CSS </li>
                                <li style="list-style-type: square; margin-left:
                                    5px;"> Bootstrap </li>
                                <li style="list-style-type: square; margin-left:
                                    5px;"> JavaScript </li>
                            </ul>
                        </div>
                        <div style="margin-left: 50px;">
                            <ul><li style="list-style-type: square; margin-left:
                                    5px;"> TypeScript </li>
                                <li style="list-style-type: square; margin-left:
                                    5px;"> Joomla </li>
                                <li style="list-style-type: square; margin-left:
                                    5px;"> AngularJS Material </li>
                                <li style="list-style-type: square; margin-left:
                                    5px;"> Angular Material </li>
                                <li style="list-style-type: square; margin-left:
                                    5px;"> Subversion </li>
                                <li style="list-style-type: square; margin-left:
                                    5px;"> AWS </li></ul>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>