.navHeader
{
    padding-bottom: 90px;
}
.navibarItem{
    font-size            : large;
    background-color     : #252525;
    border-radius        : 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius   : 5px;
    -ms-border-radius    : 5px;
    -o-border-radius     : 5px;
}

.nav-item{
    padding-right: 10px;
}