<div class="container">
    <!-- <h2 class="workTitle">Work Experience</h2> -->
    <div class="card info-card">
        <div class="card-header"><h4 style="font-weight: 700;">Skills</h4></div><br>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <h5>HTML, CSS, JS</h5>
                    <div class="progress">
                        <div class="progress-bar bg-info progress-bar-striped
                            progress-bar-animated" style="width:70%"></div>
                    </div><br>
                    <h5>Bootstrap</h5>
                    <div class="progress">
                        <div class="progress-bar bg-info progress-bar-striped
                            progress-bar-animated" style="width:70%"></div>
                    </div><br>
                    <h5>AngularJS</h5>
                    <div class="progress">
                        <div class="progress-bar bg-info progress-bar-striped
                            progress-bar-animated" style="width:60%"></div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <h5>Angular 11</h5>
                    <div class="progress">
                        <div class="progress-bar bg-info progress-bar-striped
                            progress-bar-animated" style="width:70%"></div>
                    </div><br>
                    <h5>MySQL</h5>
                    <div class="progress">
                        <div class="progress-bar bg-info progress-bar-striped
                            progress-bar-animated" style="width:60%"></div>
                    </div><br>
                    <h5>Core Java</h5>
                    <div class="progress">
                        <div class="progress-bar bg-info progress-bar-striped
                            progress-bar-animated" style="width:50%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>